data/es_articles.json
data/zh-cn_articles_generation_bloom_3b.json
data/zh-cn_articles_generation_bloom_3b.txt
data/zh-cn_articles_generation_bloom_7b1.json
data/zh-cn_articles_generation_bloom_7b1.txt
data/zh-cn_articles_generation_vicuna.json
data/zh-cn_articles_generation_vicuna.txt
data/zh-cn_articles_generation.json
data/zh-cn_articles_generation.txt
data/zh-cn_articles.json
data/zh-tw_articles.json
data/atomic_facts/Cold_War_es_verify.txt
data/atomic_facts/Cold_War_zh.txt
data/chatgpt/es/Cold_War_es_atomic.txt
data/chatgpt/es/Cold_War_es_wiki.txt
data/chatgpt/es/Cold_War_es.txt
data/chatgpt/es/Fall_of_the_Berlin_Wall_es_wiki.txt
data/chatgpt/es/Fall_of_the_Berlin_Wall_es.txt
data/chatgpt/es/Fall_of_the_Western_Roman_Empire_es_wiki.txt
data/chatgpt/es/Fall_of_the_Western_Roman_Empire_es.txt
data/chatgpt/es/Industrial_Revolution_es_wiki.txt
data/chatgpt/es/Industrial_Revolution_es.txt
data/chatgpt/es/Moon_landing_es_wiki.txt
data/chatgpt/es/Moon_landing_es.txt
data/chatgpt/es/atomic_verify/Cold_War_es_verify1.txt
data/chatgpt/zh/Cold_War_zh_atomic.txt
data/chatgpt/zh/Cold_War_zh_wiki.txt
data/chatgpt/zh/Cold_War_zh.txt
data/chatgpt/zh/Fall_of_the_Berlin_Wall_zh_wiki.txt
data/chatgpt/zh/Fall_of_the_Berlin_Wall_zh.txt
data/chatgpt/zh/Fall_of_the_Western_Roman_Empire_zh_wiki.txt
data/chatgpt/zh/Fall_of_the_Western_Roman_Empire_zh.txt
data/chatgpt/zh/Industrial_Revolution_zh_wiki.txt
data/chatgpt/zh/Industrial_Revolution_zh.txt
data/chatgpt/zh/Moon_landing_zh_wiki.txt
data/chatgpt/zh/Moon_landing_zh.txt
data/x-fact/dev.all.tsv
data/x-fact/ood.tsv
data/x-fact/test.all.tsv
data/x-fact/train.all.tsv
data/x-fact/zeroshot.tsv
data/x-fact/label_maps/aajtak.in.txt
data/x-fact/label_maps/agi.it.txt
data/x-fact/label_maps/aosfatos.org.txt
data/x-fact/label_maps/apublica.org.txt
data/x-fact/label_maps/cekfakta.com.txt
data/x-fact/label_maps/cekfakta.tempo.co.txt
data/x-fact/label_maps/chequeado.com.txt
data/x-fact/label_maps/correctiv.org.txt
data/x-fact/label_maps/demagog.org.pl.txt
data/x-fact/label_maps/dogrulukpayi.com.txt
data/x-fact/label_maps/en.politifact.com.txt
data/x-fact/label_maps/factcheck.ge.txt
data/x-fact/label_maps/factcheck.kz.txt
data/x-fact/label_maps/factnameh.com.txt
data/x-fact/label_maps/factual.ro.txt
data/x-fact/label_maps/faktisk.no.txt
data/x-fact/label_maps/faktistfakt.com.txt
data/x-fact/label_maps/faktoje.al.txt
data/x-fact/label_maps/faktyoxla.info.txt
data/x-fact/label_maps/fr.africacheck.org.txt
data/x-fact/label_maps/gujarati.newschecker.in.txt
data/x-fact/label_maps/hindi.newschecker.in.txt
data/x-fact/label_maps/istinomer.rs.txt
data/x-fact/label_maps/kallxo.com.txt
data/x-fact/label_maps/marathi.newschecker.in.txt
data/x-fact/label_maps/master_mapping.tsv
data/x-fact/label_maps/misbar.com.txt
data/x-fact/label_maps/nieuwscheckers.nl.txt
data/x-fact/label_maps/pagellapolitica.it.txt
data/x-fact/label_maps/piaui.folha.uol.com.br.txt
data/x-fact/label_maps/poligrafo.sapo.pt.txt
data/x-fact/label_maps/politifact.com.txt
data/x-fact/label_maps/punjabi.newschecker.in.txt
data/x-fact/label_maps/srilanka.factcrescendo.com.txt
data/x-fact/label_maps/teyit.org.txt
data/x-fact/label_maps/youturn.in.txt
__pycache__/decompose_facts.cpython-38.pyc
__pycache__/model_utils.cpython-38.pyc
